{% extends "layout.nunjucks" %}
{% block content %}
{% import 'macros/nav-macro.nunjucks' as nav %}
{{nav.active('home')}}
<div class="container" style="padding-top:150px;text-align:centre;">
<div class="row text-center">
<form action="formSubmit()">
<div class="form-group">
    <label for="Name">Name:</label>
    <input type="text" name="Name" />
</div>
<div class="form-group">
    <label for="Password">Password:</label>
    <input type="Password" name="Password" />
</div>
<input type="submit" value="Submit">
<h1 class="text-center">OR</h1>
<div style="position:absolute;left:628px;" class="g-signin2 text-vcenter" data-onsuccess="onSignIn" data-theme="dark"></div>
</form> 

</div>

</div>

<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        Login Successfull
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" click="signOut()">Logout</button>
      </div>
    </div>

  </div>
</div>
<div id="logout-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">)
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        Logout Successfull
      </div>
      <div class="modal-footer">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
      </div>
    </div>

  </div>
</div>
{% endblock %}