{% macro active(activePage='home') %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="{%if activePage == 'home' %} active {% endif %}"><a href="./index.html">Home</a></li>
      <li class="class="{%if activePage == 'about' %} active {% endif %}""><a href="./index.html">About</a></li>
      <li class="{%if activePage == 'contact' %} active {% endif %}"><a href="./index.html">Contact</a></li>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
    </ul>
  </div>
</nav>
    <div class="menu">
    <ul>
    <a type="button" id="nav-login" href="./login.html" click="changePage()"><li>Log in</li></a>
  </ul>
</div>
{% endmacro %}